cpg.graph
  .nodes
  .filter(_._label == {{.QuotedLabel}})
  .map(n => {
    def san(s: String): String = if (s == null) "" else s.map(c => if (c=='\\'||c=='"'||c<32||c>126) ' ' else c).mkString
    val sc   = try { n.property("CODE").asInstanceOf[String] } catch { case _ => "" }
    val name = try { n.property("NAME").asInstanceOf[String] } catch { case _ => "" }
    val file = try { n.property("FILENAME").asInstanceOf[String] } catch { case _ => "" }
    s"""{
      "id":   "${n.id.toString}",
      "name": "${san(name)}",
      "file": "${san(file)}",
      "line": ${try { n.property("LINE_NUMBER").asInstanceOf[Int] } catch { case _ => 0 }},
      "type": "${n.label}",
      "code": "${san(sc)}"
    }"""
  })
  .toList
  .mkString("[", ",", "]")