{{.Traversal}}
  .map({{.Alias}} => {
    def san(s: String): String = if (s == null) "" else s.map(_c => if (_c=='\\'||_c=='"'||_c<32||_c>126) ' ' else _c).mkString
    val sc = san({{.Alias}}.code)
    val sn = san({{.NameExpr}})
    val sf = san({{.FileExpr}})
    s"""{
      "id":   "${ {{.Alias}}.id.toString }",
      "name": "${sn}",
      "file": "${sf}",
      "line": ${ {{.Alias}}.lineNumber.getOrElse(0) },
      "code": "${sc}"
    }"""
  })
  .toList
  .mkString("[", ",", "]")